    /* main styling  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #e3dac9;
}

ul{
        list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}
button{
    cursor: pointer;
    border: none;
}
.container{
    width: 90vw;
    margin: 0 auto;
}

header{
    margin-top: 50px !important;
    background-image: url(images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}


    /* start nav  */
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
    color: white;
}

nav > ul {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-between;
}

nav img{
    width: 30px;
}

nav li{
    margin-right: 20px;
    transition: all 0.2s;
    &:hover{
    filter: drop-shadow(0px 0px 5px white);
    transform: translateY(-5px) ;
    }
}

nav button{
    background: none;
}
    /* end nav  */

    /* start hero section  */
.hero_section{
    color: white;
    font-size: 25px;
    line-height: 50px;
    position: absolute;
    top: 30%;
    left: 10%;
    height: 50%;

    padding: auto 0;
}


.hero_section button{
    margin-top: 30px;
    width: 7em;
    border-radius: 20px;
    height: 2em;
    font-size: 20px;
    
}
    /* end hero section  */

    /* start category bar section  */
.category_bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    height: 10vh;
    margin: 60px 0px;
    font-size: 18px;
}

.category_bar figure {
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 10px;
    & img{
    width: 60%;
    }
}
    /* end category bar section  */



    
    /* start menu section */
.menu_section{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 80px;
}

.coffee_section , .dessert_section {
    & h2 {
        text-align: center;
        margin-bottom: 30px;
        text-transform: capitalize;
    }
}

.carousel_container{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.prv_btn , .next_btn{
    border-radius: 50%;
    & img {
        width: 30px;
    }
}

.product_image{
    width: 250px;
    border-radius: 12px;
}

.product_image_container {
    position: relative;
}

.heart_icon{
    width: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}


.product_card_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product_card{
    background-color: #e3dac9;
    width: 270px;
    border-radius: 12px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}
.order_btn{
    width: 7em;
    height: 2em;
    border-radius: 5px;
    background-color: #392d23;
    color: white;
}
    /* end menu section */

    /* start check out section   */
.check_out{
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    font-size: 25px;
    overflow: hidden;
}

.check_out > div button {
    margin-top: 20px;
    width: 16em;
    height: 3em;
    border-radius: 20px;
    background-color: #392d23;
    color: white;

}

.check_out > figure {
    width: 25%;
    transform:  scale(1.2);
}

.check_out  img {
    width: 100%;
}

#hand_image{
    transform: translateX(-80px);
}
#coffee_image{
    transform: translateX(80px);
}

    /* end check out section   */

    /* start testimonials section  */
.testimonials_section{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 60px 100px;
    color:   #392d23;
}

.testimonials_section > .title {
margin-bottom: 30px;
}

.testimonials_section > .subtitle {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
}


.testimonials_card_container{
    display: flex;
    justify-content: center ;
    align-items: center ;
    height: 40%;
}

.testimonial_card{
    width: 30%;
    background-color: #e3dac9;
    border-radius: 12px;
    padding: 10px;
    width: 95%;
    margin: 0px 15px;
}

.customer_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.customer_info > figure {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    align-items: center;
}

.customer_info img {

    width: 60px;
    height: 100%;
    border-radius: 60%;
}

.testimonials_card_container > li:nth-last-of-type(2){
    transform: scale(1.1);
    margin: 15px;
}


.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    cursor: pointer;
}

.dot{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #80644e;
}

.slider > span:nth-last-of-type(2){
    background-color: #392d23;
}
    /* end testimonials section  */


    /* start newsletter section  */
.newsletter_section{
    height: 40vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter_side_img_container{
    width: 20%;
    height: 100%;
    position: relative;
}

.newsletter_side_img_container img{
    width: 100%;
    height: 100%;
}

    /* newsletter content */
.newsletter_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #392d23;
    width: 50%;
}

.newsletter_content form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 20px;
}

.newsletter_content > form fieldset{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    width: 50%;
    border: none;
    padding: 8px 15px;
    border-radius: 20px;
}

.newsletter_content > form input{
    border: none;
    outline: none;
}

.newsletter_content > form img{
    width: 20px;
}

.newsletter_content > form button{
    width: 20%;
    padding: 15px 15px;
    border-radius: 20px;
    background-color: #392d23;
    color: white;
}
    /* end newsletter section  */
    

    /* start footer  */
footer{
    padding: 50px 80px;
    background-color: #392d23;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 50px !important;
}

.footer_list{
    font-size: 12px;
}
.footer_list > li{
    margin-top: 20px;
    font-size: 11px;

}

.footer_social_media_icons{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}
    /* end footer  */